.user{
    flex: 4;
    padding: 20px;
}
.userTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.userAddButton{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    color: #fff;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    cursor: pointer;
    font-size: 16px;
}
.userContainer{
    display: flex;
    margin-top: 20px;

}
.userShow{
    flex: 1;
    padding: 20px;
     box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);

}
.userUpdate{
    flex: 2;
    padding: 20px;
     box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
     margin-left: 20px;

}
.userShowTop{
    display: flex;
    align-items: center;
}
.userShowImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}
.userShowTopTitle{
    display: flex;
    flex-direction: column;
}
.userShowUsername{
    font-weight: 600;

}
.userShowBottom{
    margin-top: 20px;
}
.userShowTitle{
    font-weight: 400;
}
.userShowTitle{
    font-size: 14px;
    font-weight: 600;
    color: rgb(100, 100, 100);
}
.userShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: #444;
}
.userShowIcon{
    font-size: 16px !important;
    margin-right: 10px;
}

/* Right Side */
.userUpdateTitle{
    font-size: 24px;
    font-weight: 600;
}
.userUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.userUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.userUpdateItem > label{
    font-size: 14px;
    margin-bottom: 5px;
}
.userUpdateInput{
    width: 250px;
    height: 30px;
    border: none;
    border-bottom: 1px solid gray;
}
.userUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.userUpdateUpload{
    display: flex;
    align-items: center;
}
.userUpdateIcon{
    cursor: pointer;
}
.userUpdateImg{
    width: 100px;
    height: 100px;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    object-fit: cover;
}
.userUpdateButton{
    padding: 5px;
    border: none;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    cursor: pointer;
    background-color: darkblue;
    color: whitesmoke;
    font-weight: 600;
}